/**
* Ultraligero Framework
* ---------------------
*
* Desarrollado por El Cultivo
* http://elcultivo.mx
*
*
*
* Usar ese archivo para customizar estilos
* 
*/

@charset "UTF-8";

@import "reset";
@import "_config"; 
@import "_mixins";
@import "_funciones";
@import "_base";
@import "_reticula"; 


/**
* FUENTES
* -------
*/

// Declara tus fuentes usando el MIXIN

@include declara-font-face(Open, '../fonts/OpenSans-Regular-webfont');
@include declara-font-face(Open, '../fonts/OpenSans-Bold-webfont', bold);
@include declara-font-face(Open, '../fonts/OpenSans-Italic-webfont', normal, italic);

/**
* TIPOGRAFÍA
* ----------
*/

// Tamaños de tipografía
// Crea clases para los principales tamaños que usas
// Asígnales tamaños usando el MIXIN tamano-fuente()

.tam-prin{ @include tamano-fuente(7, 8); }
.tam-sec{@include tamano-fuente(5, 6, false);}

.tam-ter{
	@include tamano-fuente(3, 5, false);
	p, ul, ol{ @include tamano-fuente(3, 5); }
	input, textarea{@include tamano-fuente(3, 5, 1); }
}
.tam-cuat{
	p{@include tamano-fuente(2, 5, 2);}
}

.tam-min{
	p, ul, ol{ @include tamano-fuente(1); }
}


/**
* SECCIONES
* -----------
*/

// Customiza cada sección
// Usa las clases que queiras para cada sección
// Modifica sus estilos aquí

.seccion{
	padding-top: tamano(11);
	padding-bottom: tamano(9);
}
.introduccion{
	background-color: $color-principal;
	color: $color-claro;
	h1{
		//margin-top: tamano(10);
		margin-bottom: tamano(9);
	}
}
.consulta{
	background-color: $color-fondo;
}
.como-funciona{
	background-color: $color-texto;
	.boton{
		background-color: $color-destacado;
	}
}
.contacto{
	background-color: $color-principal;
	.contacto-form{
		input, textarea{
			background-color: $color-principal;
			color: $color-claro;
			&[type="submit"]{ color: $color-claro;}
			&::-webkit-input-placeholder { color: $color-claro;}
			&:-moz-placeholder { color: $color-claro;}
			&::-moz-placeholder { color: $color-claro;}
			&:-ms-input-placeholder { color: $color-claro;}
		}
	}
}