#usar este gitignore en la raíz del proyecto de WP
*.DS_Store
*.scssc
wp-config.php
wp-content/uploads/
config.codekit
.htaccess
error.log
access.log
.vscode

#crear otro .gitignore en la carpeta de la tema con para ignorar estos archivos:
/node_modules
/sass/node_modules/
/sass/.sass-cache/
/vendor
