@mixin generador-de-columnas($break, $cols, $cuadro_o_columns) {
    
  // @if( $cuadro_o_columns != 'columns' and $cuadro_o_columns != 'cuadro') {@error 'El tercer argumento de este mixin espera el string cuadro o el string columns, se ingreso: #{$cuadro_o_columns} ' }
    
  $side:'right';
  
  @if($cuadro_o_columns == 'columns') {
    $side: 'left';
  }
    
  @for $i from 1 through $cols {
    //Ensanchador
    .#{$break}-#{$i}.#{$cuadro_o_columns} {
      width: cuadros($i);
    }
    //Empujador
    .empuja-#{$break}-#{$i}.#{$cuadro_o_columns} {
      margin-#{$side}: push_x($i);
      &:first-child {
        margin-#{$side}: push_x($i, true);
      }
    }
    //Centrador
    .#{$break}-#{$i}.#{$cuadro_o_columns}.centered {
      margin-#{$side}: centered($i);
    }
  }
}