@mixin componentDatos($selector){ 
    .#{$selector} {
        @extend .clearfix;
        position: relative;
        @include respond-to($medio) {
                bottom: 48px;
        }
        
        &__contenedor-gral{
            @include respond-to(1000px) {
                float: right;
                margin-bottom: 2px;
            }
        }
        
        &__contenedor {
            position:relative;
            margin-left: 75%;
            max-width: 25%;
            height: 25%;
            
            @include respond-to(1000px){
                margin-left: 0;
                width:120px;
                max-width:120px;
                margin-right: 26px;
            };
        }

        &__verticalAlign{
             @include position(70%, 50%); 
             @include respond-to($medio){ @include position(50%, 50%); } 
        }
        
        &__ttl, &__p{
            font-family: $fuente-serif;
            text-align: center;
            margin: 0 auto;
            line-height: 1.2;
        }

        &__ttl {
            font-size: 28px;
            font-weight: bold;
        }
        
        &__p { font-size: 18px;}

        sup  {vertical-align: super; font-size: 16px;}
    }
}

