/*
Ejemplo: http://codepen.io/anon/pen/qOGKvM

Basado en http://codepen.io/pedrocampos/pen/gufrx

Icono en CSS para el Menú Móvil con alguna animaciones
mas info en el archivo original _icono__css-menu.scss
*/

//*****************ANIMACIONES****************//
// Puede ser animado agregando las siguientes clases: 
// .icon__css-menu--rotacion, 
// .icon__css-menu--compresion, 
// .icon__css-menu--punto,  
// .icon__css-menu--circulo,
// .icon__css-menu--piramide, 
// .icon__css-menu--close


//*****************MARKUP****************//
// Requiere el siguiente HTML: 

// <a href="#" class="icon__css-menu icon__css-menu--<nombre de la animación>">
//  <span class="icon__css-menu__panes"></span>
// </a>

// /-------------------/

//*****************JS****************//
// Y del siguiente JS:

// $('.icon__css-menu').click(function()
// {
//  var on = 'on';
//  if( $(this).hasClass(on) )
//  {
//    $(this).removeClass(on);
//  }
//  else
//  {
//    $(this).addClass(on);
//  }
// });

.icon__css-menu {
  position: relative;
  display:  inline-block;
  width: 30px;
  height: 30px;
}
.icon__css-menu .icon__css-menu__panes {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
.icon__css-menu .icon__css-menu__panes:before, .icon__css-menu .icon__css-menu__panes:after {
  position: absolute;
  content: '';
}
.icon__css-menu .icon__css-menu__panes, .icon__css-menu .icon__css-menu__panes:before, .icon__css-menu .icon__css-menu__panes:after {
  width: 30px;
  height: 6px;
  background-color: #000;
  display: block;
}
.icon__css-menu .icon__css-menu__panes:before {
  margin-top: -12px;
}
.icon__css-menu .icon__css-menu__panes:after {
  margin-top: 12px;
}

/*
Animaciones
*/

 /*Rotación*/

.icon__css-menu--rotacion {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.icon__css-menu--rotacion.on {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

/* Compresión */

.icon__css-menu--compresion .icon__css-menu__panes:before,
.icon__css-menu--compresion .icon__css-menu__panes:after {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.icon__css-menu--compresion.on .icon__css-menu__panes:before,
.icon__css-menu--compresion.on .icon__css-menu__panes:after {
  margin-top: 0px;
}

/* Conversión en punto */

.icon__css-menu--punto .icon__css-menu__panes {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.icon__css-menu--punto .icon__css-menu__panes:before,
.icon__css-menu--punto .icon__css-menu__panes:after {
  -webkit-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition-duration: 0.2s, 0s;
  transition-duration: 0.2s, 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.icon__css-menu--punto.on .icon__css-menu__panes {
  width: 6px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.icon__css-menu--punto.on .icon__css-menu__panes:before,
.icon__css-menu--punto.on .icon__css-menu__panes:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

/*Conversión en símbolo de Cierre */

.icon__css-menu--close .icon__css-menu__panes {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.icon__css-menu--close.on .icon__css-menu__panes {
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.icon__css-menu--close .icon__css-menu__panes:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.icon__css-menu--close.on .icon__css-menu__panes:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.icon__css-menu--close .icon__css-menu__panes:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.icon__css-menu--close.on .icon__css-menu__panes:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

/* Circulo */

.icon__css-menu--circulo .icon__css-menu__panes {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.icon__css-menu--circulo .icon__css-menu__panes:before,
.icon__css-menu--circulo .icon__css-menu__panes:after {
  -webkit-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition-duration: 0.2s, 0s;
  transition-duration: 0.2s, 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.icon__css-menu--circulo.on .icon__css-menu__panes {
  width: 16px;
  height: 16px;
  margin-top: -5px;
  border-radius: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.icon__css-menu--circulo.on .icon__css-menu__panes:before,
.icon__css-menu--circulo.on .icon__css-menu__panes:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
/* Pirámide */

.icon__css-menu--piramide .icon__css-menu__panes {
  -webkit-transition-property: margin, width;
  transition-property: margin, width;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.icon__css-menu--piramide.on .icon__css-menu__panes {
  margin-top: 6px;
  width: 20px;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.icon__css-menu--piramide .icon__css-menu__panes:after {
  left: 0;
  -webkit-transition-property: margin, left;
  transition-property: margin, left;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.icon__css-menu--piramide.on .icon__css-menu__panes:after {
  margin-top: 6px;
  left: -5px;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.icon__css-menu--piramide .icon__css-menu__panes:before {
  left: 0;
  -webkit-transition-property: margin, width, left;
  transition-property: margin, width, left;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s, 0s;
  transition-delay: 0.2s, 0s, 0s;
}

.icon__css-menu--piramide.on .icon__css-menu__panes:before {
  margin-top: -6px;
  width: 10px;
  left: 5px;
  -webkit-transition-delay: 0s, 0.2s, 0.2s;
  transition-delay: 0s, 0.2s, 0.2s;
}