%button{
	background-color: $colorForeground; 
    border-color: $colorForeground;
    color: $colorBackground; 
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 4px 3px;
}